# Base provision for node, create user, add ssh key ant etc
# - name: node-baseprovision
#   ansible.builtin.include_tasks: tasks/common.yaml

# Config-node
- name: Config nodes
  ansible.builtin.include_tasks: tasks/config-node.yaml

# Config containerd
- name: config containerd
  ansible.builtin.include_tasks: tasks/containerd.yaml
    