server = "https://docker.io"
capabilities = ["pull", "resolve", "push"]

{% for dockerhubMirrorURL in dockerhubMirrorURLs %}
[host."{{ dockerhubMirrorURL }}"]
  capabilities = ["pull", "resolve"]
{% endfor %}