vrrp_script chk_haproxy {
  script "killall -0 haproxy" # check the haproxy process
  interval 2                  # every 2 seconds
  weight 2                    # add 2 points if OK
}

vrrp_instance VI_1 {
  interface {{ ansible_facts.interfaces[1] }}           # interface to monitor
  {% if inventory_hostname == groups['node'][0] %}
  state MASTER                # MASTER on master, BACKUP on slaves
  {% else %}
  state BACKUP
  {%endif%}
  virtual_router_id 51
  {% if inventory_hostname == groups['node'][0] %}
  priority 101                # 101 on master, 100 on slaves
  {% else %}
  priority 100
  {%endif%}
  virtual_ipaddress {
    {{vip_address}}/24          # virtual ip address
  }

  track_script {
    chk_haproxy
  }
}