server {
    listen {{ listening_port }};
    listen [::]:{{ listening_port }};

    server_name {{ server_name }};

    root {{ root_directory }};
    index index.html;

    location = /{{ image_endpoint }}/ {
        try_files $uri =404;
    }


    location / {
        try_files $uri $uri/ =404;
    }
}

          

          