apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
nodeRegistration:
  name: {{ ansible_hostname }}
  criSocket: "unix:///run/containerd/containerd.sock"
  kubeletExtraArgs:
    node-ip: {{ ansible_facts[interface_name].ipv4.address}}
discovery:
  bootstrapToken:
    token: {{ token }}
    apiServerEndpoint: {{ api_endpoint }}
    caCertHashes:
      - "sha256:{{ ca_cert_hash }}"