apiVersion: 1

datasources:
- name: {{ victoriametrics_container_name }}
  type: prometheus
  access: proxy
  url: http://{{ victoriametrics_container_name }}:{{ victoriametrics_port }}
  isDefault: true
